@using EntityLayer.Concrete
@model List<Publisher>
@{
    ViewData["Title"] = "Yayınevleri";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Ekle</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>Merkez</th>
            <th>Sahibi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var publisher in Model)
        {
            <tr>
                <td>@publisher.PublisherId</td>
                <td>@publisher.PublisherName</td>
                <td>@publisher.PublisherCenter</td>
                <td>@publisher.PublisherOwner</td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-action="Update" asp-route-id="@publisher.PublisherId" class="btn btn-primary">Düzenle</a>
                        &nbsp; <!-- Boşluk ekleyelim -->
                        <form asp-action="Delete" asp-route-id="@publisher.PublisherId" method="post" onsubmit="return confirm('Silmek istediğinize emin misiniz?');">
                            <button type="submit" class="btn btn-danger">Sil</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>