
<header class="header d-flex flex-row">
	<div class="header_content d-flex flex-row align-items-center">
		<!-- Logo -->
		<div class="logo_container">
			<div class="logo">
				<a href="@Url.Action("Index", "About")">
					<img src="~/course/images/logo.png" alt="">
					<span>Telo Bookstore</span>
				</a>
			</div>
		</div>
		<!-- Main Navigation -->
		<nav class="main_nav_container">
			<div class="main_nav">
				<ul class="main_nav_list">
					<li class="main_nav_item"><a href="@Url.Action("Index", "About")">Hakkımızda</a></li>
					<li class="main_nav_item"><a href="@Url.Action("Index", "Publisher")">Yayınevleri</a></li>
					<li class="main_nav_item"><a href="@Url.Action("Index", "Book")">Kitaplar</a></li>
					<li class="main_nav_item"><a href="@Url.Action("Index", "Writer")">Yazarlar</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="header_side d-flex flex-row justify-content-center align-items-center">
		<img src="~/course/images/phone-call.svg" alt="">
		<span>+43 4566 7788 2457</span>
	</div>

</header>
